﻿@model IEnumerable<dal.T213_Address>
<div>
    <div>

        <table id="tblAddress" class="display nowrap table table-hover table-responsive table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i>
                      
                    </th>
                    <th>Select</th>
                    <th>Address_ID</th>
                    <th>Address_Line1</th>
                    <th>Address_Line2</th>
                    <th>Country_ID</th>
                    <th>State_ID</th>
                    <th>City</th>
                    <th>ZIP</th>
                    <th>Attention</th>
                    <th>Department</th>
                    <th>InternalOffice</th>
                    <th>CreatedBy</th>
                    <th>CreatedOn</th>
                    <th>ModifiedBy</th>
                    <th>ModifiedOn</th>
                    <th>Record_status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i></td>
                        <td><input type="checkbox" id="chkSelect" class="Checkbox" /></td>
                        <td>@item.Address_ID</td>
                        <td>@item.Address_Line1</td>
                        <td>@item.Address_Line2</td>
                        <td>@item.Country_ID</td>
                        <td>@item.State_ID</td>
                        <td>@item.City</td>
                        <td>@item.ZIP</td>
                        <td>@item.Attention</td>
                        <td>@item.Department</td>
                        <td>@item.InternalOffice</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedOn</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.ModifiedOn</td>
                        <td>@item.Record_status</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="offset-3">
    <input type="button" value="Add Address" id="btnAddaddress" class="btn btn-info" />
    <input type="button" value="Load" class="btn btn-info" />
    <input type="button" value="Cancel" class="btn btn-info" />
        </div>
</div>


<script>
   
    $(document).ready(function () {
        debugger;
        $('#tblAddress').DataTable({
            dom: 'Bfrtip',
            //retrieve: true,
            destroy: true,//to over come reintilize prblms
            "columnDefs": [
           {
               "targets": [0],             
               "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<i class="ti-arrow-circle-right" title="Expand/Collapse"></i>'
           },


           //{
           //    "targets": [0, 1],
           //    "sorting": false

           //}

           ],
            buttons: [
                'excel', 'print'
            ]
        });
        $('.buttons-print,.buttons-excel').removeClass('dt-button').addClass(' btn btn-info');
        
        function LoadChildData(tblId, Address_ID) {

            var subtable = $('#' + tblId).DataTable({
                //"processing": true,
                "bPaginate": false,
                "searching": false,
                //"serverSide": true,
                "ordering": false,
                "info": false,
                "ajax": {
                    "url": "@Url.Action("addressChildDetails", "RCApplication")",
                "type": "POST",
                "data": { AddressId: Address_ID },
                "datatype": "json"
                
            },
                "columns": [
        { data: "RC ID" },
        { data: "Addrss Type" },
        { "data": "Personnel ID" },
        { "data": "Role" }
        
        /*and so on, keep adding data elements here for all your columns.*/
    ]
            });
        }
        function childtable(id) {

            return '<table id="' + id + '" class="display">' +
            ' <thead>' +
                ' <tr>' +
                     '<th>  RC ID </th>' +
                     '<th> Addrss Type </th>' +
                     '<th> Personnel ID </th>' +
                     '<th>Role </th>' +                    
                ' </tr>' +
            ' </thead>' +

        ' </table>'
        }

        function childshow(id, isparent) {
            debugger;
            var tr = $(id).closest('tr');
            var tbl = $('#tblAddress').DataTable();
            var row = tbl.row(tr);
            if (row.child.isShown()) {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-right') || !isparent) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-right" title="Expand/Collpase"></i>';
                }
            }
            else {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-down') || !isparent) {
                    // Open this row
                    debugger;
                    var ID = row.data()[2];
                    var childtblid = 'child_' + row.data()[2];
                    row.child(childtable(childtblid)).show();
                    tr.addClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-down" title="Expand/Collpase"></i>';
                    LoadChildData(childtblid, ID);
                }
            }
        }

        $('#tblAddress tbody').on('click', 'td.details-control', function () {
            childshow(this, false);
        });
        $("#i_expnd").click(function () {
            debugger;
            $("#i_expnd").toggleClass("ti-arrow-circle-right");
            $("#i_expnd").toggleClass('ti-arrow-circle-down');
            $("#tblAddress tbody tr .details-control").each(function () {
                childshow(this, true);
            });
        });
       
        //open add address popup code
        $("#btnAddaddress").click(function () {
            debugger;
            var url = "/RCApplication/OpenaddAddresspopup";

            $("#ModalAddAddressBodyDiv").load(url, function () {
                $("#ModalAddAddress").modal("show");
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "RCApplication/LoadCountry",
                    data: "{}",
                    dataType: "json",
                    success: function (Result) {
                        debugger;
                        $.each(Result.d, function (key, value) {
                            $("#ddlCountry").append($("<option></option>").val(value.Country_Code).html(value.Country_Name));
                        });
                    },
                    error: function (Result) {
                        alert("Error");
                    }
                });

            })
            //$("#ModalAddAddress").modal("show");
        });
        //end
    });
</script>

<style>
    td.details-control i {
        cursor: pointer;
        color: #e46a76;
        font-weight: bold;        
    }
</style>