﻿<div class="offset-1" >
    <div class="form-group row">
        <div class="col-md-4">Address Line1</div>  <div class="col-md-5"><input type="text" id="txtAddress1" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Address Line2</div>  <div class="col-md-5"><input type="text" id="txtAddress2" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Country</div>  <div class="col-md-5"><select id="ddlCountry" class="form-control"></select></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">State</div>  <div class="col-md-5"><input type="text" id="txtAddress1" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">City</div>  <div class="col-md-5"><input type="text" id="txtCity" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Zip/PoastalCode</div>  <div class="col-md-5"><input type="text" id="txtZip/PoastalCode" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Attention</div>  <div class="col-md-5"><input type="text" id="txtAttention" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Deaprtment</div>  <div class="col-md-5"><input type="text" id="txtDeaprtment" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">Internal Office</div>  <div class="col-md-5"><input type="text" id="txtInternalOffice" class="form-control" /></div>
    </div>
    <div class="offset-3" >
        <input type="button" value="Add" class="btn btn-info"/>
        <input type="button" value="Close" data-dismiss="modal" class="btn btn-info"/>
    </div>
</div>


    <script >  
      //$(document).ready(function () {                  
      //    $.ajax({  
      //        type: "POST",  
      //        contentType: "application/json; charset=utf-8",  
      //        url: "RCApplication/LoadCountry",
      //        data: "{}",  
      //        dataType: "json",  
      //        success: function (Result) {  
      //            $.each(Result.d, function (key, value) {  
      //                $("#ddlCountry").append($("<option></option>").val(value.Country_Code).html(value.Country_Name));
      //            });  
      //        },  
      //        error: function (Result) {  
      //            alert("Error");  
      //        }  
      //    });  
      //});  
</script>