﻿@model IEnumerable<dal.SP_GetRCPersonnelDetails_Result>

<div class="zxc">
    <table id="tblRcPersonnelDetails" class="display nowrap table table-hover table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>Select</th>
                <th>Edit</th>

                <th>ID</th>
                <th>Personnel ID</th>
                <th>NSABP SiteID</th>
                <th>Salutation</th>
                <th>First Name</th>

                <th>Middle Intital</th>
                <th>Last Name</th>
                <th>DegreeID</th>
                <th>Degree</th>
                <th>MedicalspecialityID</th>

                <th>Medicalspeciality</th>
                <th>Phone</th>
                <th>Phone_Ext</th>
                <th>PersonType</th>
                <th>PersontypeId</th>
                <th>Email</th>
                <th>Fax</th>
                <th>JobTitle</th>
                <th>Comments</th>
                <th>Status</th>
                <th>StatusDate</th>
                <th>Personnel_StatusID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" id="chkselect" /></td>
                    <td>Edit</td>

                    <td>@item.ID</td>
                    <td>@item.Personnel_ID</td>
                    <td>@item.NSABP_Site_ID</td>
                    <td>@item.Salutation</td>
                    <td>@item.F_Name</td>
                    <td>@item.M_Initials</td>
                    <td>@item.L_Name</td>
                    <td>@item.DegreeIDs</td>
                    <td>
                        @item.DegreeNames
                    </td>
                    <td>@item.MedicalspecialityID</td>
                    <td>@item.Medicalspecialityname</td>
                    <td>@item.Phone</td>
                    <td>@item.Phone_Ext</td>
                    <td>@item.PersonType</td>
                    <td>@item.PersontypeId</td>
                    <td>@item.Email</td>
                    <td>@item.Fax</td>
                    <td>@item.JobTitle</td>
                    <td>@item.Comments</td>
                    <td>@item.StatusName</td>
                    <td>@item.StatusDate</td>
                    <td>@item.Personnel_StatusID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="offset-3">
    <input type="button" value="Add Person" id="btnAddPerson" class="btn btn-info" />
    <input type="button" value="Load" class="btn btn-info" />
    <input type="button" value="Cancel" class="btn btn-info" />
</div>

<script>
    $(document).ready(function () {
        $('#tblRcPersonnelDetails').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'print'
            ]
        });
        $('.buttons-print,.buttons-excel').removeClass('dt-button').addClass(' btn btn-info');
    })

</script>