﻿
@{
    ViewBag.Title = "GetAddressDetails";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
}

<h2>GetAddressDetails</h2>

<input type="button" name="loadAddress" value="LOAd" class="load"/>
@*@Html.Partial("~/Areas/RC/Views/Shared/LoadAddress.cshtml")*@
<div id="myModal" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">

    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Form FT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(".load").click(function () {
        debugger;
        $.ajax({
            Type:"get",
            Url: "/RCApplication/getAddress",
            Success:function(d)
            {
                //$("#tblAddress").DataTable({
                //    Data:d,
                //    Columns:[
                //    {   "data":"Address_ID",
                //        "data":"Address_Line1",
                //        "data":"Country_ID",
                //        "data":"State_ID",
                //        "data":"City",
                //        "data":"ZIP",
                //        "data":"Attention",
                //        "data":"Department",
                //        "data":"InternalOffice",
                //        "data":"CreatedBy",
                //        "data":"CreatedOn",
                //        "data":"ModifiedBy",
                //        "data":"ModifiedOn",
                //        "data":"Record_status"
                //    }
                //    ]
                //})
            }
        })
    })
    
</script>
