﻿@model dal.T001_Research_Collaborator
@{
    ViewBag.Title = "RCApp";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details_URL = "";
    ViewBag.Create_Details = "";


}
<div class="card">
    <div class="card-body">
        <button class="btn btn-link text-info font-weight-bold" type="button" data-toggle="collapse" data-target="#instructions" aria-expanded="true" aria-controls="instructions">
            General Instructions
        </button>
        <ul id="instructions" class="list-icons list-unstyled collapse show">
            <li><i class="ti-angle-right"></i> Submit completed application to <a class="text-info" href="mailto:#">collaborator@nsabp.org</a>.</li>
            <li><i class="ti-angle-right"></i> Definitions for the Research Collaborator Structure can be located at [WEBSITE].</li>
            <li><i class="ti-angle-right"></i> Each Program Coordinator listed will be contacted to schedule a site qualification conference call.</li>
            <li><i class="ti-angle-right"></i> The Research Collaborator Review Committee ("RCRC") will review the application and qualification information.</li>
            <li><i class="ti-angle-right"></i>The Collaborating Scientific Investigator (CSI) and Program Coordinator listed on the application will receive notification of the RCRC's decision which will include information regarding next steps.</li>
        </ul>

        <hr />
        <div class="form-group row">
            <div class="col-md-6">
                Application Type
                @*</div>
                    <div class="col-md-3">*@
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsApplication" name="apptype" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsApplication">Application</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsAffirmation" name="apptype" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsAffirmation">Affirmation</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                IsResubmitted
                @*</div>
                    <div class="col-md-3">*@
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsResubmitChk" value="true" name="IsResubmit" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsResubmitChk">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsResubmitUnChk" value="false" name="IsResubmit" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsResubmitUnChk">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row Application">
            <div class="col-md-2">
                SID
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="SID" />
            </div>
        </div>
        <div class="form-group row Affirmation ">
            <div class="col-md-2">
                RC ID
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="RCID" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 1. Research Collaborator - the entity that is the lead institution of a network of Research sites.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Name of the Institution
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="InstitutionName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 1)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address1" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 2)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address2" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                Country
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-2">
                State/Province
            </div>
            <div class="col-md-2">
                @Html.DropDownList("State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                City
            </div>
            <div class="col-md-2">
                <input id="City" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                ZIP/Postal Code
            </div>
            <div class="col-md-2">
                <input id="ZIP" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Attention
            </div>
            <div class="col-md-2">
                <input id="Attention" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                Department
            </div>
            <div class="col-md-2">
                <input id="Department" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Internal Office
            </div>
            <div class="col-md-2">
                <input id="InternalOffice" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                Tax Identification Number (US Institutions only)
            </div>
            <div class="col-md-2">
                <input id="TaxIdentificationNo" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Teaching Hospital
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="TeachingHospitalChk" value="true" name="TeachingHospital" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="TeachingHospitalChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="TeachingHospitalUnChk" value="false" name="TeachingHospital" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="TeachingHospitalUnChk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Do you have additional Research Sites? . (If yes, complete a Research Site Addendum page for each Research Site)
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="additionalResearchSitesChk" value="true" name="HaveAdditionalResearchSites" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="additionalResearchSitesChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="additionalResearchSitesUNChk" value="false" name="HaveAdditionalResearchSites" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="additionalResearchSitesUNChk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Is a fully executed contract required prior to activation?
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="priorToactivationChk" value="true" name="FullyExeContratReqPriorToActivation" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="priorToactivationChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="priorToactivationUnchk" value="false" name="FullyExeContratReqPriorToActivation" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="priorToactivationUnchk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Is a fully executed contract required prior to enrollment?
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="priorToenrollmentChk" value="true" name="FullyExeContratReqPriorToEnrollment" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="priorToenrollmentChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="priorToenrollmentUnchk" value="false" name="FullyExeContratReqPriorToEnrollment" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="priorToenrollmentUnchk">No</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 2. The Legal Entity - is authorized to enter into contracts on behalf of the Research Collaborator. The Legal Entity can be the same as the Research Collaborator.
            </div>
            <div class="col-md-2">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info wrap">Load Address</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox align-content-center">
                <input type="checkbox" id="IsLegalEntitySameasRC" name="IsLegalEntitySameasRC" class="custom-control-input">
                <label class="custom-control-label" for="IsLegalEntitySameasRC"> Is Legal Entity same as Research Collaborator.  </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Name of Legal Entity
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="LeagaEntityName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 1)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="LE_Address1" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 2)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="LE_Address2" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                Country
            </div>
            <div class="col-md-2">
                @Html.DropDownList("LE_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-2">
                State/Province
            </div>
            <div class="col-md-2">
                @Html.DropDownList("LE_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                City
            </div>
            <div class="col-md-2">
                <input id="LE_City" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                ZIP/Postal Code
            </div>
            <div class="col-md-2">
                <input id="LE_ZIP" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Attention
            </div>
            <div class="col-md-2">
                <input id="LE_Attention" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                Department
            </div>
            <div class="col-md-2">
                <input id="LE_Department" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Internal Office
            </div>
            <div class="col-md-2">
                <input id="LE_InternalOffice" type="text" class="form-control" />
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 3. The Payee Name - the name of the institution that checks are made payable to. This defaults to the Research Collaborator unless another name is provided.

            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox align-content-center">
                <input type="checkbox" id="IsPayeeNameSameasRC" name="IsPayeeNameSameasRC" class="custom-control-input">
                <label class="custom-control-label" for="IsPayeeNameSameasRC"> Is Payee Name same as Research Collaborator. </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Payee Name
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="PayeeName" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 4. Clinical Trial Activities - performed at the Research Collaborator location. Mark all that apply.
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Regulatory Activities
            </div>
            <div class="col-md-8">
                @foreach (var item in ViewBag.GetRegularActivities)
                {
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="RA @item.Name" value="@item.ID" class="custom-control-input RegularActivities">
                        <label class="custom-control-label" for="RA @item.Name">@item.Name </label>
                    </div>
                }

            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-4">
                Study Participant Activities
            </div>
            <div class="col-md-8">
                @foreach (var item in ViewBag.GetStudyActivities)
                {
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="SA @item.Name" value="@item.ID" class="custom-control-input StudyActivities">
                        <label class="custom-control-label" for="SA @item.Name">@item.Name </label>
                    </div>
                }

            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-4">
                Data Management Activities
            </div>
            <div class="col-md-8">
                @foreach (var item in ViewBag.GetDataManagementActivities)
                {
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="DM @item.Name" value="@item.ID" class="custom-control-input">
                        <label class="custom-control-label" for="DM @item.Name">@item.Name </label>
                    </div>
                }

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                On-Site Monitoring
            </div>

            <div class="col-md-8">
                <div class="col-md-2 form-check form-check-inline ">
                    <div class="custom-control custom-radio ">
                        <input type="radio" id="OnSiteMonitoringchk" value="true" name="OnSiteMonitoring" class="custom-control-input form-check-input">
                        <label class="custom-control-label " for="OnSiteMonitoringchk">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="OnSiteMonitoringUnchk" value="false" name="OnSiteMonitoring" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="OnSiteMonitoringUnchk">No</label>
                    </div>
                </div>

            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-4">
                Pharmacy Activities
            </div>
            <div class="col-md-8">
                @foreach (var item in ViewBag.GetPharmacyActivities)
                {
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="PA @item.Name" value="@item.ID" class="custom-control-input PharmacyActivities">
                        <label class="custom-control-label" for="PA @item.Name">@item.Name </label>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 5. Pharmacy Information - for the Research Collaborator.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Name of Pharmacy
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Pharmacy" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 1)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address1" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 2)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address2" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                Country
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-2">
                State/Province
            </div>
            <div class="col-md-2">
                @Html.DropDownList("State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                City
            </div>
            <div class="col-md-2">
                <input id="City" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                ZIP/Postal Code
            </div>
            <div class="col-md-2">
                <input id="ZIP" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Phone
            </div>
            <div class="col-md-2">
                <input id="Attention" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                Attention
            </div>
            <div class="col-md-2">
                <input id="Attention" type="text" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Department
            </div>
            <div class="col-md-2">
                <input id="Department" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                Internal Office
            </div>
            <div class="col-md-2">
                <input id="InternalOffice" type="text" class="form-control" />
            </div>

        </div>

    </div>
</div>
<div class="card Application">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 6. Key Personnel
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6a. Collaborating Scientific Investigator (CSI) - an investigator selected by Research Collaborator to be the primary scientific contact related to the Research Collaborator's relationship with NSABP.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load CSI</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div>
            <div class="form-group row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="CSI_FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    MI
                </div>
                <div class="col-md-2">
                    <input type="text" id="CSI_MName" class="form-control" />
                </div>
                <div class="col-md-2">
                    Last Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="CSI_LName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Degree
                </div>
                <div class="col-md-6">
                    <input type="text" id="CSI_Degree" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Medical Speciality
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="CSI_MedSpeciality" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="CSI_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="CSI_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("CSI_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("CSI_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="CSI_City" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="CSI_ZIP" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="CSI_Phone" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Person Type
                </div>
                <div class="col-md-2">
                    <div class="col-md-2">
                        @Html.DropDownList("CSI_PersonType", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Email Address
                </div>
                <div class="col-md-2">
                    <input id="CSI_Email" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="CSI_Attention" type="text" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="CSI_Department" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="CSI_InternalOffice" type="text" class="form-control" />
                </div>

            </div>
        </div>

        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6b. Program Coordinator (PC) - a research coordinator selected by Research Collaborator to be the primary contact for administration of NSABP programs at Research Collaborator.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load PC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div>
            <div class="form-group row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="PC_FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    MI
                </div>
                <div class="col-md-2">
                    <input type="text" id="PC_MName" class="form-control" />
                </div>
                <div class="col-md-2">
                    Last Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="PC_LName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Degree
                </div>
                <div class="col-md-6">
                    <input type="text" id="PC_Degree" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Medical Speciality
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="PC_MedSpeciality" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="PC_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="PC_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PC_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PC_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="PC_City" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="PC_ZIP" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="PC_Phone" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Person Type
                </div>
                <div class="col-md-2">
                    <div class="col-md-2">
                        @Html.DropDownList("PC_PersonType", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Email Address
                </div>
                <div class="col-md-2">
                    <input id="PC_Email" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="PC_Attention" type="text" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="PC_Department" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="PC_InternalOffice" type="text" class="form-control" />
                </div>

            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6c. Medical Oncologist (MO) - Identify physicians within your network knowledgeable in these medical specialties. If the CSI is the physician that has one of these medical specialties
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load CC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div>
            <div class="form-group row">
                <div class="col-md-8">
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="MO_sameas_CSI" value="" class="custom-control-input">
                        <label class="custom-control-label">Is Medical Oncologist same as CSI.</label>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="MO_FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    MI
                </div>
                <div class="col-md-2">
                    <input type="text" id="MO_MName" class="form-control" />
                </div>
                <div class="col-md-2">
                    Last Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="MO_LName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Degree
                </div>
                <div class="col-md-6">
                    <input type="text" id="MO_Degree" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Medical Speciality
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="MO_MedSpeciality" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="MO_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="MO_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("MO_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("MO_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="MO_City" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="MO_ZIP" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="MO_Phone" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Email Address
                </div>
                <div class="col-md-2">
                    <input id="MO_Email" type="text" class="form-control" />
                </div>

            </div>


        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6d. Surgical Oncologist (SO) - Identify physicians within your network knowledgeable in these medical specialties. If the CSI is the physician that has one of these medical specialties

            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load FC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div>
            <div class="form-group row">
                <div class="col-md-8">
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="SO_sameas_CSI" value="" class="custom-control-input">
                        <label class="custom-control-label">Is Surgical Oncologist same as CSI.</label>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="SO_FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    MI
                </div>
                <div class="col-md-2">
                    <input type="text" id="SO_MName" class="form-control" />
                </div>
                <div class="col-md-2">
                    Last Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="SO_LName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Degree
                </div>
                <div class="col-md-6">
                    <input type="text" id="SO_Degree" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Medical Speciality
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="SO_MedSpeciality" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="SO_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="SO_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SO_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SO_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="SO_City" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="SO_ZIP" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="SO_Phone" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Email Address
                </div>
                <div class="col-md-2">
                    <input id="SO_Email" type="text" class="form-control" />
                </div>

            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6h. Check Addresse - a person designated by the Research Collaborator to receive payment checks. This defaults to the CSI unless another name and address is provided.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load CC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div>
            <div class="form-group row">
                <div class="col-md-8">
                    <div class="custom-control custom-checkbox align-content-center">
                        <input type="checkbox" id="CheckAdressee_sameas_CSI" value="" class="custom-control-input">
                        <label class="custom-control-label">Is Check Addressee same as CSI</label>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="CheckAdressee_FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    MI
                </div>
                <div class="col-md-2">
                    <input type="text" id="CheckAdressee_MName" class="form-control" />
                </div>
                <div class="col-md-2">
                    Last Name
                </div>
                <div class="col-md-2">
                    <input type="text" id="CheckAdressee_LName" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="CheckAdressee_Adress1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="CheckAdressee_Adress2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("CheckAdressee_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("CheckAdressee_State", new SelectList("", "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="CheckAdressee_City" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="CheckAdressee_ZIP" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="CheckAdressee_Attention" type="text" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="CheckAdressee_Department" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="CheckAdressee_InternalOffice" type="text" class="form-control" />
                </div>

            </div>
        </div>

    </div>
</div>
<div class="card Application">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 7. Performance Indicators
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-info">
                Number of Patients
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                What is the average number of NEW breast and colorectal patients seen in your network per year?
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-md-2">
                Breast
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" min="1" id="AverageNONewBreastPatientsperyear" />
            </div>
            <div class="col-md-2">
                Colorectal
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" min="1" id="AverageNONewColorectalPatientsperyear" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-info">
                Accrual
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                What is your network's accrual in breast and colorectal studies over the past 12 months?
            </div>
        </div>
        <div class="form-group row ">
            <table id="tbl" class="col-md-5 table table-bordered">
                <thead><tr><th></th><th>Industry </th><th>Federal</th><th>Total </th></tr></thead>
                <tbody>
                    <tr>
                        <td>Breast </td>
                        <td><input type="number" id="Accrual_Breast_Industry_Studies" class="col-md-10" min="0" /></td>
                        <td><input type="number" id="Accrual_Breast_Federal_Studies" class="col-md-10" min="0" /></td>
                        <td><span id="02">0</span></td>
                    </tr>
                    <tr>
                        <td>Colorectal </td>
                        <td><input type="number" id="Accrual_Colorectal_Industry_Studies" class="col-md-10" min="0" /></td>
                        <td><input type="number" id="Accrual_Colorectal_Federal_Studies" class="col-md-10" min="0" /></td>
                        <td><span id="12">0</span></td>
                    </tr>
                    <tr>
                        <td>Total </td>
                        <td><span id="20">0</span></td>
                        <td><span id="21">0</span></td>
                        <td><span id="22">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-info">
                Audits
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                Have any audits of your network institution(s) in the past two calendar years resulted in the identification of critical findings?
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-radio">
                    <input type="radio" id="criticalChk" value="true" name="Audits_Network_Institution_Identificationofcritical" class="custom-control-input">
                    <label class="custom-control-label" for="criticalChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="criticalUnChk" value="false" name="Audits_Network_Institution_Identificationofcritical" class="custom-control-input">
                    <label class="custom-control-label" for="criticalUnChk">No</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                If yes, please attach a copy of the applicable CAPA.
            </div>
            <div class="col-md-4">
                <input class="btn btn-" id="Audits_Attachment_Filename" type="file" />
            </div>
        </div>
    </div>
</div>
<div class="card Application ">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 8. Research Collaborator Representative Signature
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Collaborating Scientific Investigator Signature
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="RCR_Investigator_Signature" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Date (MM/DD/YYYY)
            </div>
            <div class="col-md-4">
                <span> <input type="text" class="form-control col-md-11" id="RCR_Date" /><i class="icon-calender"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="card  ">
    <div class="card-body">

        <div class="row">
            <div class="offset-md-4 col-md-4 ">
                <input type="button" id="RCSave" class="btn btn-info" value="Save" />
                <input type="button" class="btn btn-info" value="Add Research Site" />
                <input type="button" class="btn btn-info" value="Cancel" />
            </div>

        </div>

    </div>
</div>



<script>
    //data from db


    $(document).ready(function () {
        $('#RCID').mask('0000-000');
        $(".Application").hide();
        $(".Affirmation").hide();
        $("#IsApplication").change(function () {
            if ($("#IsApplication:checked")) {
                $(".Application").show();
                $('.Application').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                });
                $(".Affirmation").hide();
            }
        });
        $("#IsAffirmation ").change(function () {
            if ($("#IsAffirmation:checked")) {
                $(".Application").hide();
                $(".Affirmation").show();
                $('.Affirmation').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                });
            }
        });
        $("#tbl").change(function () {

            var a = isNaN(parseInt($("#00").val())) ? 0 : parseInt($("#00").val());
            var b = isNaN(parseInt($("#01").val())) ? 0 : parseInt($("#01").val());
            var c = isNaN(parseInt($("#10").val())) ? 0 : parseInt($("#10").val());
            var d = isNaN(parseInt($("#11").val())) ? 0 : parseInt($("#11").val());
            $("#02").text(a + b);
            $("#12").text(c + d);

            $("#20").text(c + a);
            $("#21").text(b + d);
            $("#22").text(parseInt($("#20").text()) + parseInt($("#21").text()));

        })
    });

    //////////////////////////////////////////////////////
    //db
    $("#IsApplication").change(function () {
        if ($("#IsApplication:checked")) {
            $.post("/RCApplication/GetNxtRCID",
                  function (res) {
                      if (res.res == 'Success') {
                          $("#SID").val(res.RCID);
                      }
                      else {
                          alert('Failed');
                      }
                  }).fail(function () {
                      alert("error");
                  });
        }
    });

    function IsRCIDExists(RCID) {
        var result = "";
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/IsRCIDExists",
            data: '{RCID: "' + RCID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                result = data.res;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return result;
    }

    function saveRCapp(data) {
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/SaveRcApp",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                result = data.res;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        //$.post("/RCApplication/SaveRcApp", data,obj1,
        //             function (res) {
        //                 if (res.res == 'Success') {
        //                     $("#SID").val(res.RCID);
        //                 }
        //                 else {
        //                     alert('Failed');
        //                 }
        //             }).fail(function () {
        //                 alert("error");
        //             });

    }

    $(document).ready(function () {

        $("#RCSave").click(function () {
            var obj = new Object();
            if ($("#IsApplication").is(":checked")) {
                obj.IsAffirmation = false;
                obj.IsApplication = true;
                obj.SID = $("#SID").val();
                if ($("#IsResubmitUnChk").is(":checked")) {
                    obj.SID = $("#SID").val();
                }
                obj.RCID = $("#RCID").val();

            }
            else {
                obj.IsAffirmation = true;
                obj.IsApplication = false;
                obj.RCID = $("#RCID").val();
                var rcID = obj.RCID.substring(0, 4);
                var res = IsRCIDExists(rcID);
                if (res == true && res != "") {
                    alert('Research Collaborator ID ' + rcID + '  already exists.');
                    return;
                }
                else if (res != false) {
                    alert('Error');
                    return;
                }
            }

            //sec 1
            obj.Record_status = 'Active';
            obj.InstitutionName = $("#InstitutionName").val();
            obj.Address1 = $("#Address1").val();
            obj.Address2 = $("#Address2").val();
            obj.City = $("#City").val();
            obj.State = $('option:selected', $("#State")).val();
            obj.Country = $('option:selected', $("#Country")).val()
            obj.ZIP = $("#ZIP").val();
            obj.Attention = $("#Attention").val();
            obj.Department = $("#Department").val();
            obj.InternalOffice = $("#InternalOffice").val();
            obj.TaxIdentificationNo = $("#TaxIdentificationNo").val();
            obj.NumberOfAddResearchSites = 0;
            if ($("input[name='HaveAdditionalResearchSites']:checked").val() != undefined)
                obj.HaveAdditionalResearchSites = $("input[name='HaveAdditionalResearchSites']:checked").val();
            else
                obj.HaveAdditionalResearchSites = null;
            if ($("input[name='FullyExeContratReqPriorToActivation']:checked").val() != undefined)
                obj.FullyExeContratReqPriorToActivation = $("input[name='FullyExeContratReqPriorToActivation']:checked").val();
            else
                obj.FullyExeContratReqPriorToActivation = null;
            if ($("input[name='FullyExeContratReqPriorToEnrollment']:checked").val() != undefined)
                obj.FullyExeContratReqPriorToEnrollment = $("input[name='FullyExeContratReqPriorToEnrollment']:checked").val();
            else
                obj.FullyExeContratReqPriorToEnrollment = null;

            if ($("input[name='TeachingHospital']:checked").val() != undefined)
                obj.TeachingHospital = $("input[name='TeachingHospital']:checked").val();
            else
                obj.TeachingHospital = null;
            // or null
            //sec 2
            obj.IsLegalEntitySameasRC = $("#IsLegalEntitySameasRC").is(":checked");
            obj.LeagaEntityName = $("#LeagaEntityName").val();
            obj.LE_Address1 = $("#LE_Address1").val();
            obj.LE_Address2 = $("#LE_Address2").val();
            obj.LE_City = $("#LE_City").val();
            obj.LE_State = $('option:selected', $("#LE_State")).val()
            obj.LE_Country = $('option:selected', $("#LE_Country")).val()
            obj.LE_ZIP = $("#LE_ZIP").val();
            obj.LE_Attention = $("#LE_Attention").val();
            obj.LE_Department = $("#LE_Department").val();
            obj.LE_InternalOffice = $("#LE_InternalOffice").val();

            //sec 3
            obj.IsPayeeNameSameasRC = $("#IsPayeeNameSameasRC").is(":checked");
            obj.PayeeName = $("#PayeeName").val();

            //sec 4
            if ($("#input[name='OnSiteMonitoring']:checked").val() != undefined)
                obj.OnSiteMonitoring = $("#input[name='OnSiteMonitoring']:checked").val()
            else
                obj.OnSiteMonitoring = null;

            var RegularActivities = new Array();
            $(".RegularActivities:checked").each(function () {
                RegularActivities.push($(this).val());
            });

            var StudyActivities = new Array();
            $(".StudyActivities:checked").each(function () {
                StudyActivities.push($(this).val());
            });

            var DataManagementActivities = new Array();
            $(".DataManagementActivities:checked").each(function () {
                DataManagementActivities.push($(this).val());
            });

            var PharmacyActivities = new Array();
            $(".PharmacyActivities:checked").each(function () {
                PharmacyActivities.push($(this).val());
            });


            //sec 5
            // pending
            //sec 6

            obj.CSI_FName = $("#CSI_FName").val();
            obj.CSI_MName = $("#CSI_MName").val();
            obj.CSI_LName = $("#CSI_LName").val();
            obj.CSI_Degree = $("#CSI_Degree").val();

            obj.CSI_MedSpeciality = $("#CSI_MedSpeciality").val();
            obj.CSI_Address1 = $("#CSI_Address1").val();
            obj.CSI_Address2 = $("#CSI_Address2").val();
            obj.CSI_State = $('option:selected', $("#CSI_State")).val();
            obj.CSI_Country = $('option:selected', $("#CSI_Country")).val();
            obj.CSI_City = $("#CSI_City").val();
            obj.CSI_ZIP = $("#CSI_ZIP").val();
            obj.CSI_Phone = $("#CSI_Phone").val();
            obj.CSI_PersonType = $('option:selected', $("#CSI_PersonType")).val();
            obj.CSI_Email = $("#CSI_Email").val();
            obj.CSI_Attention = $("#CSI_Attention").val();
            obj.CSI_Department = $("#CSI_Department").val();
            obj.CSI_InternalOffice = $("#CSI_InternalOffice").val();

            //sec   6b
            obj.PC_FName = $("#PC_FName").val();
            obj.PC_MName = $("#PC_MName").val();
            obj.PC_LName = $("#PC_LName").val();
            obj.PC_Degree = $("#PC_Degree").val();

            obj.PC_MedSpeciality = $("#PC_MedSpeciality").val();
            obj.PC_Address1 = $("#PC_Address1").val();
            obj.PC_Address2 = $("#PC_Address2").val();
            obj.PC_Country = $('option:selected', $("#PC_Country")).val();
            obj.PC_State = $('option:selected', $("#PC_State")).val();
            obj.PC_City = $("#PC_City").val();
            obj.PC_ZIP = $("#PC_ZIP").val();
            obj.PC_Phone = $("#PC_Phone").val();
            obj.PC_PersonType = $('option:selected', $("#PC_PersonType")).val();
            obj.PC_Email = $("#PC_Email").val();
            obj.PC_Attention = $("#PC_Attention").val();
            obj.PC_Department = $("#PC_Department").val();
            obj.PC_InternalOffice = $("#PC_InternalOffice").val();

            //sec   6c pndng
            obj.MO_sameas_CSI = $("#PC_FName").val();
            obj.PC_MName = $("#PC_MName").val();
            obj.PC_LName = $("#PC_LName").val();
            obj.PC_Degree = $("#PC_Degree").val();

            obj.PC_MedSpeciality = $("#PC_MedSpeciality").val();
            obj.PC_Address1 = $("#PC_Address1").val();
            obj.PC_Address2 = $("#PC_Address2").val();
            obj.PC_Country = $('option:selected', $("#PC_Country")).val();
            obj.PC_State = $('option:selected', $("#PC_State")).val();
            obj.PC_City = $("#PC_City").val();
            obj.PC_ZIP = $("#PC_ZIP").val();
            obj.PC_Phone = $("#PC_Phone").val();
            obj.PC_PersonType = $('option:selected', $("#PC_PersonType")).val();
            obj.PC_Email = $("#PC_Email").val();
            obj.PC_Attention = $("#PC_Attention").val();
            obj.PC_Department = $("#PC_Department").val();
            obj.PC_InternalOffice = $("#PC_InternalOffice").val();


            //sec 7

            obj.AverageNONewBreastPatientsperyear = $("#AverageNONewBreastPatientsperyear").val();
            obj.AverageNONewColorectalPatientsperyear = $("#AverageNONewColorectalPatientsperyear").val();
            obj.Accrual_Breast_Industry_Studies = $("#Accrual_Breast_Industry_Studies").val();
            obj.Accrual_Breast_Federal_Studies = $("#Accrual_Breast_Federal_Studies").val();
            obj.Accrual_Colorectal_Industry_Studies = $("#Accrual_Colorectal_Industry_Studies").val();
            obj.Accrual_Colorectal_Federal_Studies = $("#Accrual_Colorectal_Federal_Studies").val();
            if ($("input[name='Audits_Network_Institution_Identificationofcritical']:checked").val() != undefined)
                obj.Audits_Network_Institution_Identificationofcritical = $("input[name='Audits_Network_Institution_Identificationofcritical']:checked").val();
            else
                obj.Audits_Network_Institution_Identificationofcritical = null;

            //Section 8
            obj.RCR_Investigator_Signature = $("#RCR_Investigator_Signature").val();
            obj.RCR_Date = $("#RCR_Date").val();
            debugger;
            saveRCapp(obj);
        });
    });
</script>
